<start url="https://www.google.com/#q=navarjun">
  <div class="rc" multiple="true">
    <h3 class="r">
      <a data="href"/>
    </h3>
    <div class="s">
      <div class="f">
        <cite class="_Rm" data="innerHTML">
        </cite>
      </div>
      <span class="st" data="innerHTML">
      </span>
    </div>
  </div>
</start>
